<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>post</title>
</head>
<body>
    <div>
        <form action="" class="form-inline" method="post">
            <input type="text" placeholder="project id" name="projectid" ><br>
            <input type="text" placeholder="Project Name" name="projectname" ><br>
            <input type="text" placeholder="Folder Name" name="foldername" ><br>
            <input type="text" placeholder="File Name" name="filename" ><br>
            <button type="submit">post</button>
        </form>
    </div>

</body>
</html>